 <table class="table table-bordered">
      <thead>
      <tr>
        <td>アイコン</td>
        <td>id</td>
        <td>tweet内容</td>
        <td>リツイート数</td>
      </tr>
      </thead>
      <tbody>
      <%= link_to "更新", update_post_path %>
      <% @post.each do |tweet| %>
          <tr>
            <td><img src="<%= tweet[:image] %>" alt="icon"></td>
            <td><%= tweet.text %></td>
            <td><%= tweet.post_time %></td>
            <td><%= tweet.key %></td>
            <td>
              <span id="tweet_<%= tweet.id %>">
                <%= render 'favorite/favorite_btn', post: tweet %>
              </span>
            </td>
          </tr>
      <% end %>

      </tbody>
    </table>