<article id="timeline" class="">
  <% @posts.each do |post| %>
      <div class="timeline-cell">
        <div class="post-image">
          <th>
              <%= image_tag post.image %>
          </th>
        </div>
        <div class="post-text"><th><%= auto_link(simple_format(post.text)) %></th></div>
        <th>
          <span id="tweet_<%= post.id %>">
            <%= render 'favorites/favorite_btn', post: post %>
          </span>
          <div class="post-time pull-right"><%= post.post_time.strftime("%Y年%m月%d日 %H時%M分") %></div>

        </th>
      </div>
  <% end %>
</article>

