 <table class="table table-bordered">
      <thead>
      <tr>
        <td>アイコン</td>
        <td>id</td>
        <td>tweet内容</td>
        <td>リツイート数</td>
      </tr>
      </thead>
      <tbody>
      <%= link_to "更新", update_post_path %>
      <% @post.each do |tweet| %>
          <tr>
            <td><img src="<%= tweet[:image] %>" alt="icon"></td>
            <td><%= auto_link(simple_format(tweet[:text]), :html => { :target => "_blank" })%></td>
            <% if tweet.api_type == "twitter" %>
              <td><%= tweet.post_time.strftime("%Y年%m月%d日 %H時%M分")%></td>
            <% end %>
            <% if tweet.api_type == "gnavi" %>
                <td><%= tweet.post_time%></td>
            <% end %>
            <td>
              <span id="tweet_<%= tweet.id %>">
                <%= render 'favorites/favorite_btn', post: tweet %>
              </span>
            </td>
          </tr>
      <% end %>

      </tbody>
    </table>